html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
  .Generator{
	  position: relative;
	  top: 175px;
	  width: 300px;
	  height: 220px;
  }
  .coinsGenerated{
	  font-size: 200%;
	  text-indent: 115px;
	  color: #e2e2e2;
	  text-shadow: -3px 2px #383838;
	  font: Arial;
  }
  .container1{
	  padding-top: 10px;
	  padding-left: 20px;
	  padding-right: 20px;
  }
  .buttonColor{
	  background-color:#939393;
	  border-style: solid;
	  border-color: black;
	  font-size: 150%;
	  padding-left: 75px;
	  padding-right: 75px;
  }
  .btn-poz{
	  padding-top: 30px
  }
  .img{
	  width: 65px;
	  height: 65px;
	  position: relative;
	  top: 1px;
	  left: 5px;
  }
  .MenuText{
	font-weight: bold;
	font-size: 130%;
	color: #e2e2e2;
	text-shadow: 0.5px 2px #383838;
	font: Arial;
  }
  .construction{
	  width: 400px;
	  height: 66px;
	  background-color: #383838;
  }
  .ShopText{
  	font-weight: bold;
  	font-size: 110%;
  	color: #e2e2e2;
  	text-shadow: 0.5px 2px #383838;
  	font: Arial;
	text-align: left;
  }
  .btn-extras{
	  padding-bottom: 10px;
  }
  .imgShop{
	width: 63px;
	height: 63px;
	position: relative;
	top: 1px;
	left: 5px;
  }
}
