html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
  .Generator{
	  position: relative;
	  top: 100px;
	  width: 300px;
	  height: 220px;
  }
  .Generator:hover{
	position: relative;
	top: 93px;
	width: 305px;
	height: 225px;
  }
  .Generator:active{
	color: black;
  	position: relative;
  	top: 103px;
  	width: 295px;
  	height: 215px;
  }
  .coinsGenerated{
	  font-size: 200%;
	  text-indent: 115px;
	  color: #e2e2e2;
	  text-shadow: -3px 2px #383838;
	  font: Arial;
  }
  .coinsSec{
	font-size: 130%;
	text-indent: 75px;
	color: #e2e2e2;
	text-shadow: -3px 2px #383838;
	font: Arial;
  }
  .container1{
	  padding-top: 10px;
  }
  .buttonColor{
	  background-color:#939393;
	  border-style: solid;
	  border-color: black;
	  padding-left: 75px;
	  padding-right: 75px;
  }
  .btn-poz{
	  padding-top: 30px
  }
  .img{
	  width: 65px;
	  height: 65px;
	  position: relative;
	  top: 1px;
	  left: 5px;
  }
  .MenuText{
	font-weight: bold;
	font-size: 130%;
	color: #e2e2e2;
	text-shadow: 0.5px 2px #383838;
	font: Arial;
  }
  .construction{
	  width: 270px;
	  height: 66px;
	  background-color: #383838;
  }
  .ShopText{
  	font-weight: bold;
  	font-size: 105%;
  	color: #e2e2e2;
  	text-shadow: 0.5px 2px #383838;
  	font: Arial;
	text-align: left;
  }
	.ShopText3{
		font-weight: bold;
		font-size: 110%;
		color: #e2e2e2;
		text-shadow: 0.5px 2px #383838;
		font: Arial;
		text-align: right;
		left: 30px;
	}
  .btn-extras{
	  padding-bottom: 10px;
  }
  .imgShop{
	width: 63px;
	height: 63px;
	position: relative;
	top: 1px;
	left: -4px;
  }
  .imgShop2{
  	width: 63px;
  	height: 63px;
  	position: relative;
  	top: 1px;
  }
  .buy{
	width: 400px;
 	height: 68px;
  	background-color: #383838;
  }
  .btnColor{
	background-color:#939393;
	border-style: solid;
	border-color: black;
	width: 150px;
 	height: 40px;
  }
  .ShopText2{
	font-size: 110%;
	font: Arial;
  	text-align: left;
  }
  .toltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
  }

  .toltip .tooltiptext {
      visibility: hidden;
      width: 220px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 50%;
      margin-left: -60px;
  }

  .toltip:hover .tooltiptext {
      visibility: visible;
  }
	.quantity{
		text-align: right;
	}
}
